<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <h1>hello <%= user %> from template</h1>
  <form action='/users' method='post'>
    Name: <input type='text' name='name'>
    Email: <input type='text' name='email'>
  <input type='submit' value='create user'>
</form>

<form class="" action='/users/1' method="get">
  You wanna see what is User INFO<button type="submit" name="button">User1</button>
</form>

</body>
</html>
